.footer {
  background-color: #f2f2f2;
}

.footer__block {
  width: 100%;
}

.footer__block--logo {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 27px;
}

.footer__block--copyright {
  padding-top: 14px;
  padding-bottom: 22px;
}

.footer__logo-link:focus,
.footer__logo-link:hover {
  opacity: 0.7;
}

.footer__developer-link:active,
.footer__logo-link:active,
.social-list__link:active {
  opacity: 0.3;
}

.footer__logo {
  fill: #111111;
}

.footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.footer__developer-link:focus > .footer__developer,
.footer__developer-link:hover > .footer__developer {
  color: #68b738;
}

.footer__developer-link:focus > .footer__developer-icons,
.footer__developer-link:hover > .footer__developer-icon,
.social-list__link:focus > .social-list__icon,
.social-list__link:hover > .social-list__icon {
  fill: #68b738;
}

.footer__developer {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.footer__developer-icon {
  fill: #666666;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 58px;
    padding-bottom: 47px;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
  }

  .footer__block {
    text-align: left;
    padding: 0;
  }

  .footer__block--logo {
    justify-content: flex-start;
    width: 22.88%;
  }

  .footer__block--copyright {
    width: 22.88%;
    padding-top: 0;
  }

  .footer__block--social {
    width: 54.24%;
  }

  .footer__developer-link {
    justify-content: center;
  }

  .footer__developer {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .footer__developer-icon {
    transform: scale(1.5);
  }
}

@media (min-width: 1440px) {
  .footer {
    padding-top: 60px;
  }

  .footer--index {
    padding-top: 49px;
  }

  .footer__block--copyright {
    padding-top: 0;
  }

  .footer__developer-link {
    margin-right: 82px;
    justify-content: flex-end;
  }

  .footer__logo-link {
    margin-left: 80px;
  }
}
