.demo {
  padding-top: 17px;
  padding-bottom: 24px;
  background-color: #f2f2f2;
}

.demo__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-top: 0;
  margin-bottom: 23px;
}

.demo__text {
  font-family: "Arial", sans-serif;
  width: 95%;
  margin-top: 0;
  margin-bottom: 23px;
}

.demo__image-wrapper {
  position: relative;
  display: flex;
}

.demo__image {
  transform: scale(1.15);
  object-fit: none;
  // position: absolute;
  display: block;
  margin: 0 auto;
  padding-top: 0;
}

.demo__image--before {
  flex-shrink: 0;
  width: 50%;
}

.demo__image--after {
  flex-grow: 1;
}

.demo__total-list {
  display: flex;
  justify-content: space-between;
}

.demo__total-item {
  display: flex;
  position: relative;
  width: 124px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.demo__total-result {
  align-self: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: auto;
}

.demo__total-result-descr {
  // display: block;
  padding-left: 17px;
  padding-right: 17px;
  align-self: center;
  font-family: "Arial", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 110px;
  background-color: #f2f2f2;
}

.demo__price {
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 48px;
}

.demo__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 219px;
  margin: 15px auto 0;
  margin-top: 37px;
}

.demo__range {
  display: none;
}

.demo__progress-button {
  font-family: inherit;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  width: 60px;
  cursor: pointer;
}

.demo__progress-bar {
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: #ffffff;
}

.demo__progress-toggle {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background-color: #68b738;
}

@media (min-width: 768px) {
  .demo {
    position: relative;
    padding-top: 44px;
    padding-bottom: 65px;
    border-top: 1px solid #e6e6e6;
    background-color: transparent;
  }

  .demo__title {
    font-size: 60px;
    margin-top: 42px;
    margin-bottom: 65px;
  }

  .demo__text {
    font-size: 16px;
    line-height: 24px;
    width: 97%;
    margin-bottom: 53px;
  }

  .demo__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .demo__total-item {
    width: 162px;
    padding-bottom: 28px;
  }

  .demo__total-result-descr {
    width: 115px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    bottom: -6px;
    background-color: #ffffff;
  }

  .demo__total-result-descr--days {
    width: 139px;
    padding: 0;
  }

  .demo__total-item--weight {
    margin-right: 25px;
  }

  .demo__total-item--days {
    margin-left: 16px;
  }

  .demo__price {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    width: 180px;
    margin: 0;
  }

  .demo__progress {
    margin-top: 232px;
  }

  .demo__image {
    transform: scale(2.1);
    display: block;
    margin: 0 auto;
    padding-top: 0;
  }

  .demo__buttons {
    width: 570px;
    margin: 13px auto 0;
    margin-top: 140px;
  }

  .demo__progress-button {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    padding: 7px 0;
    border-bottom: 1px dotted #bebebe;
    outline: 0;
  }

  .demo__progress-bar {
    width: 427px;
    height: 35px;
    border: 0;
    background-color: transparent;
    transform: translate(4px, 11px);
  }

  .demo__range {
    display: block;
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: #dcdcdc;
    outline: 0;
    cursor: pointer;
  }

  .demo__progress-toggle {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -17px;
    width: 34px;
    height: 34px;
    border: 1px solid #cecece;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 #d6d6d6;
    background-color: #ffffff;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .demo {
    padding-top: 0;
    padding-bottom: 48px;
    border: 0;
  }

  .demo__title {
    margin-top: 30px;
    margin-left: 79px;
    font-size: 56px;
  }

  .demo__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    height: 600px;
  }

  .demo__text {
    margin-left: 80px;
    margin-top: 81px;
    font-size: 16px;
    line-height: 24px;
    width: 435px;
    margin-bottom: 56px;
  }

  .demo__total {
    flex-wrap: wrap;
  }

  .demo__price {
    width: 100%;
    margin-top: 59px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
  }

  .demo__total-list {
    margin-left: 80px;
  }

  .demo__total-item--weight {
    padding-top: 25px;
    padding-bottom: 27px;
  }

  .demo__total-item--days {
    margin-left: 25px;
  }

  .demo__total-result--days {
    margin-left: 32px;
    margin-top: 15px;
    font-size: 28px;
  }
}
