.fields__set {
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.fields__set--descr {
  padding-bottom: 12px;
  padding-top: 11px;
}

.fields__set--personal {
  padding-bottom: 15px;
}

.fields__set--contacts {
  margin-left: -3px;
}

.fields__block {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-left: -2px;
}

.fields__block--name {
  // margin-top: 33px;
  margin-top: 29px;
  margin-bottom: 8px;
}

.fields__label {
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  white-space: nowrap;
  margin-left: -1px;
}

.fields__label--contacts {
  margin-left: 3px;
}

.fields__head {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 20px;
}

.fields__head--comments {
  padding-top: 0;
  margin-left: -4px;
  padding-bottom: 21px;
}

.fields__head--additionals {
  padding-top: 9px;
  // padding-bottom: 18px;
  margin-left: -4px;
  padding-bottom: 19px;
}

.fields__title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  max-width: 205px;
  padding-right: 24px;
  margin: 0;
  background-color: #ffffff;
}

.fields__inner {
  margin-top: 10px;
}

.fields__note {
  font-family: "Arial", sans-serif;
}

.fields__head::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 39px;
  right: -22px;
  background-color: #68b738;
}

.fields__head--comments::before {
  top: 15px;
}

.fields__head--additionals::before {
  top: 22px;
}

.fields__textfield {
  width: 100%;
  // margin-left: 16px;
  font-size: 16px;
  text-transform: uppercase;
  // padding: 13px 15px;
  border: 1px solid #e6e6e6;
  outline: 0;
  margin-left: 15px;
  font-family: "Oswald-Medium", sans-serif;
  padding: 10px 15px;
  margin-top: 3px;
  margin-right: -2px;
}

.fields__textfield--weight {
  margin-top: 6px;
  margin-left: 17px;
}

.fields__textfield--age {
  margin-top: 6px;
}

.fields__textfield--contacts {
  margin-left: 12px;
}

.fields__textfield--comments {
  margin-left: -1px;
  padding-left: 2px;
  width: 101%;
}

.fields__textarea {
  width: 100%;
  height: 150px;
  // padding-right: 10px;
  margin-top: 14px;
  // resize: none;
  font-size: 16px;
  text-transform: uppercase;
  // padding: 12px 15px;
  border: 1px solid #e6e6e6;
  outline: 0;
  font-family: "Oswald-Medium", sans-serif;
  padding-top: 10px;
  text-align: center;
}

.fields__set--program {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ededed;
  padding-bottom: 9px;
}

// .fields__set--descr {
//     // margin-bottom: 30px;
//     // padding-top: 11px;
// }

.fields__button-block {
  text-align: center;
}

.fields__button {
  width: 100%;
  margin-bottom: 22px;
}

.fields__block--phone {
  margin-top: 10px;
}

.fields__head--contacts {
  padding-top: 24px;
  margin-left: 2px;
  // margin-top: 9px;
  // padding-top: 0;
  // margin-left: 40px;
}


@media (min-width: 768px) {
  .fields {
    padding: 6px 35px 72px 40px;
    padding-bottom: 23px;
  }

  .fields__head {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 25px;
  }

  .fields__head--comments {
    padding-top: 2px;
  }

  .fields__head::before {
    width: 200%;
    top: 47px;
    right: -65px;
  }

  .fields__head--comments::before {
    top: 27px;
  }

  .fields__head--additionals::before {
    top: 44px;
  }

  .fields__set--contacts .fields__title {
    margin-bottom: 39px;
  }

  .fields__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: none;
  }

  .fields__set {
    margin-bottom: 70px;
  }

  .fields__set--descr {
    margin-bottom: 30px;
    padding-top: 0;
  }

  .fields__set--personal {
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 58px;
  }

  .fields__set--add {
    padding-top: 0;
    margin-bottom: 16px;
  }

  .fields__block {
    position: relative;
    margin-bottom: 17px;
    // margin-top: 54px;
    margin-left: 1px;
  }

  .fields__block--name {
    margin-top: 34px;
  }

  .fields__label,
  .fields__textfield {
    font-size: 20px;
    line-height: 30px;
  }

  .fields__textfield {
    margin-left: 19px;
    margin-top: 4px;
    padding-bottom: 11px;
    padding-top: 7px;
    padding-left: 19px;
    font-family: "Oswald-Medium", sans-serif;
  }

  .fields__textfield--weight {
    margin-left: 18px;
  }

  .fields__textarea--comments {
    margin-top: 52px;
    padding-left: 17px;
    font-size: 20px;
    height: 174px;
    text-align: left;
  }

  .fields__contact-icon {
    position: absolute;
  }

  .fields__label--contacts {
    margin-left: 3px;
  }

  .fields__set--program {
    width: 100%;
    padding-left: 27px;
    padding-bottom: 12px;
    margin-left: 0;
    margin-right: -65px;
    margin-bottom: 49px;
    // border-right: none;
  }

  .fields__set--contacts {
    margin-bottom: 37px;
  }

  .fields__button-block {
    text-align: center;
    display: flex;
  }

  .fields__button--add {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    width: 44.75%;
  }

  .fields__note {
    margin-left: 9.75%;
    font-size: 16px;
    margin-top: 15px;
  }

  .fields__label--phone {
    margin-left: 0;
    margin-top: 3px;
  }

  .fields__head--additionals {
    padding-bottom: 21px;
  }
}

@media (min-width: 1440px) {
  .fields__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .fields__set--personal {
    width: 45%;
    margin-left: 42px;
    margin-bottom: 40px;
  }

  .fields__set--personal .fields__textfield {
    margin-right: 19px;
  }

  .fields__title {
    padding-left: 42px;
  }

  .fields__set--program {
    width: 43.5%;
    margin-top: 61px;
    margin-left: 60px;
    margin-bottom: 55px;
  }

  .fields__set--contacts {
    width: 100%;
  }

  .fields__set--descr {
    width: 100%;
  }

  .fields__set--add {
    width: 100%;
  }

  .fields__head--contacts {
    margin-top: 9px;
    padding-top: 0;
    margin-left: 40px;
    padding-bottom: 18px;
  }

  .fields__textfield--contacts {
    padding-left: 17px;
    padding-top: 11px;
    margin-top: 6px;
    margin-left: 20px;
    width: 487px;
  }

  .fields__textfield--phone {
    margin-top: -2px;
    width: 473px;
  }

  .fields__head--contacts::before {
    top: 22px;
  }

  .fields__inner--contacts {
    display: flex;
    margin-left: 42px;
    margin-top: 12px;
  }

  .fields__block--phone {
    margin-left: 6%;
  }

  .fields__head--comments {
    margin-left: 34px;
  }

  .fields__textarea--comments {
    width: 96.75%;
    margin-left: 39px;
  }

  .fields__head--additionals {
    padding-top: 0;
    padding-left: 0;
    margin-top: 23px;
    margin-left: 36px;
  }

  .fields__head--additionals::before {
    top: 24px;
  }

  .fields__button-block {
    width: 100%;
  }

  .fields__button--add {
    margin-left: 40px;
    width: 43.5%;
    margin-top: 6px;
  }

  .fields__note {
    margin-left: 6.35%;
    font-size: 16px;
    margin-top: 21px;
  }

  .fields {
    padding-bottom: 53px;
  }
}

// .fields__textfield--email{
//   // position: absolute;
//   // width: 30px;
//   // height: 30px;
//   background-image: url("../img/icon-mail.svg");
// }

.fields__label--email::after {
  width: 30px;
  height: 30px;
  background-color: red;
}

.fields__textfield:hover {
  border: 1px solid #cdcdcd;
}

.fields__textfield:focus,
.fields__textfield:active {
  border: 1px solid #444444;
}

.fields__textfield--error {
  border: 1px solid #ff8282;
}

@media (min-width: 1440px) {
  .fields__head,
  .fields__block {
    position: unset;
  }

  .fields__head--contacts::before {
    top: unset;
    // right: 0;
    margin-top: -12px;
  }

  .fields__head--comments::before {
    top: unset;
    margin-top: 7px;
  }

  .fields__head--additionals::before {
    top: unset;
    margin-top: 5px;
  }

  .fields__head--contacts::before,
  .fields__head--comments::before,
  .fields__head--additionals::before {
    right: 0%;
    // width:
  }
}

.fields__svg {
  position: absolute;
  left: 89%;
  top: 38%;
}


@media (min-width: 768px) {
  .fields__svg {
    transform: scale(1.15);
    position: absolute;
    left: 94.5%;
    top: 40%;
  }
}

@media (min-width: 1440px) {
  .fields__svg {
    left: 0;
    top: 0;
  }

  .fields__svg--email {
    position: relative;
    margin-top: 10px;
    margin-left: -36px;
  }

  .fields__svg--phone {
    position: relative;
    margin-left: -39px;
  }

  .fields__block--phone {
    margin-left: 7.6%;
    margin-top: 6px;
  }
}
