.info {
  font-family: "Arial", sans-serif;
}

.info__param,
.info__value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.info__value {
  margin-left: 50%;
}

.info__value--price {
  margin-left: 55%;
}

.info__value--weight-change {
  margin-left: 45%;
}

.info__item {
  display: flex;
}

@media (min-width: 768px) {

  .info__description{
    margin-top: 30px;
    margin-left: 38px;
    margin-right: 37px;
  }

  .info__item {
    // display: block;
    justify-content: inherit;
    border-bottom: 1px solid #cfcfcf;
  }

  .info__item--amount{
    padding-bottom: 6px;
  }

  .info__item--taste{
    padding-bottom: 7px;
    margin-top: 8px;
  }

  .info__item--price{
    padding-bottom: 7px;
    margin-top: 8px;
  }

  .info__param {
    margin-left: 0;
    font-size: 16px;
  }

  .info__value {
    // margin-left: 0;
    font-size: 16px;
    margin-left: auto;
  }
}
