.info {
  font-family: "Arial", sans-serif;
}

.info__param,
.info__value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.info__value {
  margin-left: 52%;
}

.info__value--price {
  margin-left: 55%;
}

.info__value--weight-change {
  margin-left: 45%;
}

.info__item {
  display: flex;
}
