.more-products__header{
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.more-products__text{
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.more-products__link{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
}
