.more-products {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  margin-top: 23px;
}

.more-products__header {
  position: relative;
  margin-bottom: 9px;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.more-products__header::before {
  // position: absolute;
  // content: " ";
  // left: 145px;
  // top: -53px;
  // width: 30px;
  // height: 30px;
  // background-image: url("../img/icon-plus.svg");
  position: relative;
  display: block;
  content: " ";
  top: -49px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus.svg");
  margin: 24px auto 0;
  margin-bottom: -25px;
  margin-top: 49px;
}

.more-products__text {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.more-products__link {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: -5px;
  margin-top: 18px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
}

.more-products__link:hover {
  background-color: #ebebeb;
}

.more-products__link:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .more-products {
    margin-top: 80px;
    border: 1px solid #e7e7e7;
  }

  .more-products__header {
    margin-top: 162px;
    font-size: 19px;
    line-height: 21px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .more-products__header::before {
    position: absolute;
    content: " ";
    left: 46px;
    margin-top: 0;
    top: -108px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-plus.svg");
  }

  .more-products__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
    width: 188px;
    margin-left: auto;
    margin-right: auto;
  }

  .more-products__link {
    width: 79%;
    margin-top: 85px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1440px) {
  .more-products__header {
    margin-top: 161px;
  }

  .more-products__header::before {
    left: 45px;
  }

  .more-products__text {
    margin-top: 16px;
  }

  .more-products__link {
    width: 69%;
  }
}
