.navigation-menu {
  display: flex;
  flex-direction: column;
}

.navigation-menu__link {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.navigation-menu__link--main {
  padding-bottom: 21px;
}

.navigation-menu__link--catalog {
  padding-bottom: 21px;
}

@media (min-width: 768px) {
  .navigation-menu {
    // width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .navigation-menu__link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
    border-top: none;
  }

  .navigation-menu__link--program {
    margin-top: 43px;
    margin-right: 29px;
  }

  .navigation-menu__link--catalog {
    margin-top: 43px;
    margin-right: 38px;
  }

  .navigation-menu__link--main {
    margin-top: 43px;
    margin-right: 33px;
  }
}

@media (min-width: 1440px) {
  .navigation-menu {
    width: 50%;
    justify-content: normal;
  }

  .navigation-menu__link {
    padding: 0;
    margin-top: 75px;
    font-size: 20px;
    color: #ffffff;
    // border-bottom: 1px solid #f2f2f2;
    border-top: none;
  }

  .navigation-menu__link--activated {
    border-bottom: 1px solid #f2f2f2;
    height: 34px;
  }

  .navigation-menu__link--main {
    margin-left: 129px;
  }

  .navigation-menu__link--catalog {
    margin-left: 32px;
    margin-top: 75px;
  }

  .navigation-menu__link--program {
    margin-left: 23px;
    margin-top: 75px;
  }
}
