// .options__container {
//   // width: 87.5%;
//   padding-top: 27px;
//   padding-bottom: 20px;
//   padding-left: 21px;
//   padding-right: 34px;
//   position: relative;
// }

.options__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 18px;
}

.options__item {
  background-color: #f2f2f2;
}

.options__item--slim {
  margin-bottom: 20px;
}

.options__preview {
  display: flex;
}

.options__header {
  margin-top: 9px;
  margin-left: 19px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
}

.options__text {
  // width: 94%;
  // margin-left: 21px;
  // margin-top: 6px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.options__text--pro {
  margin-top: 5px;
}

.options__text::after {
  content: " ";
  position: absolute;
  top: 208px;
  left: 20px;
  width: 240px;
  height: 1px;
  background-color: gray;
}

.options__link {
  display: block;
  margin-top: 41px;
  margin-left: 0;
  // margin-bottom: 22px;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
}

.options__link--slim::after,
.options__link--pro::after {
  left: 123px;
  top: 86.4%;
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.options__img {
  width: 50px;
  height: 51px;
  // margin-left: 22px;
  // margin-top: 24px;
  background-color: #68b738;
  border-radius: 50%;
}

.options__icon {
  display: block;
  margin: 0 auto;
}

.options__icon--pro {
  padding-top: 11px;
  margin-left: -11px;
}

@media (min-width: 768px) {
  .options {
    margin-left: 0;
  }

  .options__text::after {
    display: none;
  }

  .options__list {
    margin-top: 3px;
    padding-left: 4%;
    padding-right: 4%;
  }

  .options__header {
    font-size: 36px;
    margin-top: 47px;
    margin-left: 0;
    margin-bottom: 19px;
  }

  .options__header--pro {
    // margin-top: 73px;
  }

  .options__text {
    width: 62%;
    margin-left: 0;
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .options__text--pro {
    width: 57%;
    margin-top: 5px;
  }

  .options__item--slim {
    padding-bottom: 42px;
    margin-bottom: 33px;
  }

  .options__item--pro {
    padding-bottom: 42px;
  }

  .options__preview {
    position: relative;
  }

  .options__img {
    position: absolute;
    left: 66.5%;
    top: 62.1%;
    width: 200px;
    height: 200px;
  }

  .options__img--pro {
    // top: 19%;
  }

  .options__icon--slim {
    width: 200px;
    height: 194px;
    margin-left: 0;
    margin-top: -14px;
  }

  .options__icon--pro {
    transform: scale(1.35);
    width: 268px;
    height: 190px;
    padding-top: 3px;
    margin-left: -1px;
  }

  .options__link--slim {
    // margin-left: 52px;
    font-size: 19px;
    margin-top: 55px;
  }

  .options__link--pro {
    // margin-left: 52px;
    font-size: 19px;
    margin-top: 55px;
  }

  .options__link--slim::after {
    left: 155px;
    top: 89.4%;
    position: absolute;
    content: " ";
    width: 25px;
    height: 30px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  .options__link--pro::after {
    left: 151px;
    top: 90.4%;
    position: absolute;
    content: " ";
    width: 24px;
    height: 30px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 1440px) {
  .options__list {
    display: flex;
    // padding-left: 7.7%;
  }

  .options__header {
    margin-top: 49px;
    margin-left: 62px;
  }

  .options__item {
    width: 44.75%;
    height: 330px;
  }

  .options__text {
    width: 100%;
    /* margin-right: 230px; */
    /* margin-bottom: 100px; */
    margin-top: 41px;
    margin-bottom: 30px;
  }

  .options__item--slim {
    margin-right: 6.4%;
    margin-left: 27px;
  }

  .options__img {
    position: relative;
    // left: 5.5%;
    left: 0;
    top: 29.1%;
    margin-top: 21px;
    /* margin-left: 24px; */
    width: 100px;
    // margin-top: 48px;
    height: 100px;
  }

  .options__link {
    margin-top: 0;
  }

  .options__icon--slim {
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-top: -10px;
  }

  .options__icon--pro {
    width: 138px;
    height: 80px;
    margin-left: -19px;
    margin-top: 6px;
  }
}
