.preview {
  // display: flex;
  // flex-direction: column;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100%;
  // background-size: cover;
  background-repeat: no-repeat;
}

.preview::before {
  display: none;
}

.preview__image {
  // margin-top: 140px;
  margin-top: 30px;
}

.preview__header {
  // padding-top: 28px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.preview__item {
  // padding-left: 0;
  // padding-right: 0;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
}

.preview__text {
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.preview__link {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #68b738;
  color: #ffffff;
}

.preview__link:hover {
  background-color: #5eaa2f;
}

.preview__link:active {
  opacity: 0.3;
}

// .preview__image {
//   // margin-top: 28px;
//   // margin-left: 21px;
//   // margin-right: 21px;
//   // margin-bottom: 3px;
// }

@media (min-width: 768px) {
  // .preview {
  //   background-image: url("../img/index-can-tablet@1x.jpg");
  //   background-size: 91.8%;
  //   background-position-y: 245px;
  //   background-position-x: 32px;
  // }
  .preview {
    background-image: none;
  }

  .preview__image {
    display: block;
    position: absolute;
    margin-top: 23px;
    z-index: -1;
    // display: none;
  }

  .preview__header {
    // margin-top: px;
    font-size: 60px;
    font-weight: 400;
    line-height: 61px;
    margin-left: 87px;
    margin-right: 150px;
    margin-bottom: 42px;
    /* width: 55%; */
    text-align: left;
    color: #111111;
  }

  .preview__item {
    padding-top: 42px;
    // padding-bottom: 529px;
    min-height: 850px;
  }

  .preview__text {
    font-size: 20px;
    color: #111111;
    margin-left: 89px;
    text-align: left;
  }

  .preview__link {
    font-size: 20px;
    padding-left: 0;
    padding-bottom: 18px;
    width: 245px;
    padding-top: 15px;
    margin-top: 51px;
    margin-left: 88px;
  }
}

@media (min-width: 1440px) {
  .preview {
    position: relative;
    // background-image: url("../img/index-background-desktop@1x.jpg");
    background-image: none;
    // position: relative;
    background-position-y: 0;
    background-size: contain;
    background-position-x: 720px;
    margin-bottom: 80px;
  }

  .preview::before {
    position: absolute;
    display: block;
    content: " ";
    height: 696px;
    width: 50%;
    right: 0%;
    top: -130px;
    background-image: url("../img/index-background-desktop@1x.jpg");
  }

  .preview__image {
    top: -16px;
    left: 39%;
    z-index: 3;
  }

  .preview__header {
    margin-top: 47px;
    margin-left: 161px;
    margin-bottom: 43px;
    width: 420px;
    /* margin-right: 330px; */
    font-size: 60px;
    line-height: 60px;
  }

  .preview__text {
    margin-left: 160px;
    // margin-left: -15%;
  }

  .preview__item {
    position: relative;
    padding-bottom: 0;
    min-height: 565px;
    // background-position-y: 141px;
    // background-position-x: 560px;
    // background-repeat: no-repeat;
    // padding-bottom: 0;
    // background-image: url("../img/index-can-desktop@1x.png");
  }

  .preview__link {
    font-size: 20px;
    padding-left: 0;
    padding-bottom: 18px;
    padding-top: 16px;
    /* width: 22%; */
    margin-left: 160px;
    margin-top: 58px;
    margin-bottom: 185px;
  }
}
