.preview-form__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
}

.preview-form__text {
  text-transform: uppercase;
  color: #111111;
  width: 85%;
  margin-top: 27px;
  margin-bottom: 0;
}
