.products__preview-header {
  margin-top: 20px;
  margin-left: -2px;
  text-align: center;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.products__elem {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.products__item {
  display: flex;
}

.products__list {
  padding-left: 20px;
  list-style-type: none;
}

.products__order {
  margin-top: -3px;
  width: 94%;
  padding-top: 10px;
  padding-bottom: 12px;
  background-color: #68b738;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.products__header {
  width: 55%;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: -2px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .products__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products__elem {
    width: 324px;
  }
}
